<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.afanty.base.test.business.items.mapper.ItemsMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.afanty.base.test.business.items.entity.Items">
        <id column="items_id" property="itemsId" jdbcType="CHAR"/>
        <result column="standard_id" property="standardId" jdbcType="CHAR"/>
        <result column="items_name" property="itemsName" jdbcType="VARCHAR"/>
        <result column="items_score" property="itemsScore" jdbcType="DECIMAL"/>
        <result column="items_type" property="itemsType" jdbcType="TINYINT"/>
        <result column="is_use" property="isUse" jdbcType="TINYINT"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
        <result column="field1" property="field1" jdbcType="VARCHAR"/>
        <result column="field2" property="field2" jdbcType="VARCHAR"/>
        <result column="field3" property="field3" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="VARCHAR"/>
        <result column="pro_id" property="proId" jdbcType="VARCHAR"/>
        <result column="org_id" property="orgId" jdbcType="VARCHAR"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_name" property="createName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_name" property="updateName" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询条件列 -->
    <sql id="Base_Where_List">
        WHERE 1 = 1
        <if test="itemsId!=null and itemsId!=''">
            AND items_id = #{itemsId}
        </if>
        <if test="standardId!=null and standardId!=''">
            AND standard_id = #{standardId}
        </if>
        <choose>
            <when test="itemsNameRepeat!=null and itemsNameRepeat!=''">
                AND items_name = #{itemsNameRepeat}
            </when>
            <when test="itemsName!=null and itemsName!=''">
                AND items_name like concat('%',#{itemsName},'%')
            </when>
            <otherwise>
            </otherwise>
        </choose>
        <if test="itemsScore!=null and itemsScore!=''">
            AND items_score = #{itemsScore}
        </if>
        <if test="itemsType!=null and itemsType!=''">
            AND items_type = #{itemsType}
        </if>
        <if test="isUse!=null and isUse!=''">
            AND is_use = #{isUse}
        </if>
        <if test="isDelete!=null and isDelete!=''">
            AND is_delete = #{isDelete}
        </if>
        <if test="field1!=null and field1!=''">
            AND field1 = #{field1}
        </if>
        <if test="field2!=null and field2!=''">
            AND field2 = #{field2}
        </if>
        <if test="field3!=null and field3!=''">
            AND field3 = #{field3}
        </if>
        <if test="createUser!=null and createUser!=''">
            AND create_user = #{createUser}
        </if>
        <if test="createName!=null and createName!=''">
            AND create_name = #{createName}
        </if>
        <if test="createTime!=null and createTime!=''">
            AND create_time = #{createTime}
        </if>
        <if test="createTimeBegin!=null and createTimeBegin!=''">
            AND create_time &gt;= #{createTimeBegin}
        </if>
        <if test="createTimeEnd!=null and createTimeEnd!=''">
            AND create_time &lt;= #{createTimeEnd}
        </if>
        <if test="updateUser!=null and updateUser!=''">
            AND update_user = #{updateUser}
        </if>
        <if test="updateName!=null and updateName!=''">
            AND update_name = #{updateName}
        </if>
        <if test="updateTime!=null and updateTime!=''">
            AND update_time = #{updateTime}
        </if>
        <if test="updateTimeBegin!=null and updateTimeBegin!=''">
            AND update_time &gt;= #{updateTimeBegin}
        </if>
        <if test="updateTimeEnd!=null and updateTimeEnd!=''">
            AND update_time &lt;= #{updateTimeEnd}
        </if>
    </sql>

    <!-- 通用查询 -->
    <select id="baseListQuery" resultMap="BaseResultMap">
        SELECT
        t.items_id,
        t.standard_id,
        t.items_name,
        t.items_score,
        t.items_type,
        t.is_use,
        t.is_delete,
        t.field1,
        t.field2,
        t.field3,
        t.tenant_id,
        t.pro_id,
        t.org_id,
        t.create_user,
        t.create_name,
        t.create_time,
        t.update_user,
        t.update_name,
        t.update_time
        FROM
        tbl_qm_items t
        <include refid="Base_Where_List"/>
        <if test="sort !=null and sort !=''">
            order by ${sort} desc
        </if>
        <if test="limit!=null and limit!=''">
            limit ${limit}
        </if>
    </select>

    <!-- 通用数量查询 -->
    <select id="baseCountQuery" resultType="int">
        SELECT count(1)
        FROM tbl_qm_items t
        <include refid="Base_Where_List"/>
    </select>

    <!-- 删除itemsId不在内，且未被使用的评分项 -->
    <delete id="deleteItemsIdNotIn" parameterType="java.util.HashMap">
        delete from tbl_qm_items where standard_id = #{standardId} and is_use = 0 and items_id not in
        <foreach collection="itemsIds" item="itemsIds" open="(" close=")" separator=",">
            #{itemsIds}
        </foreach>
    </delete>
</mapper>
